.button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #d9d7d7;
    cursor: pointer;
}

.buttonRed {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #d9d7d7;
    cursor: pointer;
    color: red;
}